{% extends "base.html" %}
{% block titel %}Share Instgram Code{% endblock %}
{% block content %}



{% if qrcode_socialmedia %}
    <img src="{{ url_for('static', filename=qrcode_socialmedia) }}" alt="QR Code" >

    <div class="button-container">
      <button><a href="{{ url_for('static', filename=qrcode_socialmedia) }}" download>Download QR Code</a></button>
    </div>

{% else %}
    <h1>Enter your Information</h1>
    <form method="post">

        <input type="text" id="url" name="url" placeholder="Your individual URL">

        <input type="submit" value="Submit">
    </form>
{% endif %}

{% endblock %}